{% extends "info.html" %}

{% block title %}Mini League{% endblock %}

{% block page_content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Mini League Standings</h2>

    <div class="table-responsive">
        <table class="table table-striped text-nowrap">
            <thead class="th-purple text-center">
                <tr>
                    <th>Rank</th>
                    <th>Manager</th>
                    <th>Team Name</th>
                    <th>Total Points</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for manager in managers %}
                <tr>
                    <td>{{ manager.rank }}</td>
                    <td>{{ manager.player_name }}</td>
                    <td>{{ manager.entry_name }}</td>
                    <th id="total_points" data-sort="total_points" onclick="sortTable('total_points')" class="sort {% if sort_by == 'total_points' %}sorted{% endif %}">
                        {{ manager.total_points }}
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
