{% extends "layout.html" %}

{% block body %}

    <div class="my-5">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <td>Project Name</td>
                    <td>FPL Tables (Fantasy Premier League Tables)</td>
                </tr>
                <tr>
                    <td>My Name</td>
                    <td>Steffen Hofseth</td>
                </tr>
                <tr>
                    <td>Github username</td>
                    <td><a href="https://github.com/gnorken">gnorken</a></td>
                </tr>
                <tr>
                    <td>edX username</td>
                    <td>gnorken</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>Oslo, Norway</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>12/02/25</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
 

{% endblock %}
