{% extends "layout.html" %}

{% block body %}

    <div class="my-5">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <td>Project Name</td>
                    <td>FPL Tables (Fantasy Premier League Tables)</td>
                </tr>
                <tr>
                    <td>My Name</td>
                    <td>Steffen Hofseth</td>
                </tr>
                <tr>
                    <td>Github username</td>
                    <td><a href="https://github.com/gnorken">gnorken</a></td>
                </tr>
                <tr>
                    <td>edX username</td>
                    <td>gnorken</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>Oslo, Norway</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>12/02/25</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <h5>Flow Chart</h5>


    <div class="col col-lg-10 border">
        <img src="/static/FPL_Tables_flowchart.png" class="img-fluid" alt="Flowchart of FPL Tables website">
        <div class="fst-italic text-start">Other tables follow the same flow as top_scorers.html</div>
    </div>


    <br>
    <br>
    <br>

{% endblock %}
