{% extends "layout.html" %}

{% block body %}

<div class="container">
  <!-- Overview Table -->
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="my-3 table table-sm">
          <thead>
            <tr>
              <th class="text-nowrap align-top">WC 1</th>
              <th class="text-nowrap align-top">WC 2</th>
              <th>Free Hit</th>
              <th>Ass Man</th>
              <th>3x Cap</th>
              <th>Bench Boost</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-nowrap">
              <td>{% if history.wildcard_1.used %} GW {{ history.wildcard_1.gw }} {% else %} {% endif %}</td>
              <td>{% if history.wildcard_2.used %} GW {{ history.wildcard_2.gw }} {% else %} {% endif %}</td>
              <td>{% if history.freehit.used %} GW {{ history.freehit.gw }} {% else %} {% endif %}</td>
              <td>{% if history.am.used %} GW {{ history.am.gw }} {% else %} {% endif %}</td>
              <td>{% if history['3xc'].used %} GW {{ history['3xc'].gw }} {% else %}{% endif %}</td>
              <td>{% if history.bboost.used %} GW {{ history.bboost.gw }} {% else %}  {% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- A.M. and Triple Captain Section -->
  <div class="row">
    <!-- Assistant Manager (AM) Column -->
    <div class="col-12 col-lg-8 ">
      <div id="am" class="mb-3 shadow rounded" style="overflow: hidden;">
        <div class="bg-purple px-4 py-2 fw-bold ">
          <div>
            <div>
              Assistant Manager {% if history.am.used %} | {{ history.am.total_points }} points {% endif %}
            </div>
            
            <div>
              {% if history.am.used %} GW {{ history.am.gw }} - {{ history.am.gw + 2 }} {% else %} <span style="color: var(--purple)">.</span> {% endif %}
            </div>
          </div>
        </div>
        <!-- Row for Manager Cards -->
        <div class="row g-0 text-end">
          <div class="col-12 col-md-4">
            <div class="team-{{ history.am.managers[0].team_code }} pt-1">
              <div class="position-relative">
                <img class="managers" loading="lazy" 
                     src="http://resources.premierleague.com/premierleague/photos/players/250x250/{{ history.am.managers[0].photo }}.png" 
                     alt="Manager 1">
                <div class="position-absolute text-overlay chips-text">
                  {% if history.am.used %} {{ history.am.managers[0].web_name }} {% endif %}
                </div>
                <div class="position-absolute text-overlay chips-text-points">
                  {% if history.am.used %} {{ history.am.managers[0].total_points }} points {% endif %}
                </div>
              </div>
            </div>  
          </div>
          <div class="col-12 col-md-4">
            <div class="team-{{ history.am.managers[1].team_code }} pt-1 border-start border-end border-dark">
              <div class="position-relative">
                <img class="managers" loading="lazy" 
                     src="http://resources.premierleague.com/premierleague/photos/players/250x250/{{ history.am.managers[1].photo }}.png" 
                     alt="Manager 2">
                <div class="position-absolute text-overlay chips-text">
                  {% if history.am.used %} {{ history.am.managers[1].web_name }} {% endif %}
                </div>
                <div class="position-absolute text-overlay chips-text-points">
                  {% if history.am.used %} {{ history.am.managers[1].total_points }} points {% endif %}
                </div>
              </div>
            </div>  
          </div>
          <div class="col-12 col-md-4">
            <div class="team-{{ history.am.managers[2].team_code }} pt-1">
              <div class="position-relative">
                <img class="managers" loading="lazy" 
                     src="http://resources.premierleague.com/premierleague/photos/players/250x250/{{ history.am.managers[2].photo }}.png" 
                     alt="Manager 3">
                <div class="position-absolute text-overlay chips-text">
                  {% if history.am.used %} {{ history.am.managers[2].web_name }} {% endif %}
                </div>
                <div class="position-absolute text-overlay chips-text-points">
                  {% if history.am.used %} {{ history.am.managers[2].total_points }} points {% endif %}
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>

    <!-- Triple Captain Column -->
    <div class="col-12 col-lg-4">
      <div id="3xc" class="mb-3 shadow rounded" style="overflow: hidden;">
        <div class="bg-purple p-2">
          <div class="px-3 fw-bold">
            Triple Captain {% if history['3xc']['used'] %} | {{ history['3xc']['total_points'] }} points {% endif %}
          </div>
          <div class="px-3 fw-bold">
            {% if history['3xc']['used'] %} GW {{ history['3xc']['gw'] }} {% else %} <span style="color: var(--purple)">.</span> {% endif %}
          </div>
        </div>
        <div class="team-{{ history['3xc']['team_code'] }} p-0 pt-1 text-end">
          <div class="position-relative">
            <img class="team-player " loading="lazy" 
                 src="https://resources.premierleague.com/premierleague/photos/players/250x250/{{ history['3xc']['photo'] }}.png" 
                 alt="Triple Captain">
            <div class="position-absolute chips-text text-overlay">
              {% if history['3xc']['used'] %} {{ history['3xc']['web_name'] }} {% endif %}
            </div>
            <div class="position-absolute chips-text-points text-overlay">
              {% if history['3xc']['used'] %} {{ history['3xc']['total_points'] * 3 }} Points {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bench boost section -->
  <div class="shadow p-0 mb-5 rounded overflow-hidden">
    <div class="row g-0">
      <div id="bboost" class="bg-purple d-flex p-2 fw-bold" style="overflow: hidden;">
        <div>
          Bench boost {% if history.bboost.used %} | {{ history.bboost.total_points }} points {% endif %}
        </div>
        <div class="ms-auto">
          {% if history.bboost.used %} GW {{ history.bboost.gw }} {% endif %}
        </div>
      </div>
    </div>
    <div class="row g-0">
      {% for player in history.bboost.players %}
      <div class="col-12 col-md-6 col-lg-3 text-end">
        <div class="team-{{ player.team_code }} p-0 pt-1 {% if not loop.last %} border-dark border-end {% endif %}">
          <div class="position-relative">
            <img class="team-player" loading="lazy" 
                 src="http://resources.premierleague.com/premierleague/photos/players/250x250/{{ player.photo }}.png" 
                 alt="Bench Boost Player">
            <div class="position-absolute chips-text text-overlay">
              {% if history.bboost.used %} {{ player.web_name }} {% endif %}
            </div>
            <div class="position-absolute chips-text-points text-overlay">
              {% if history.bboost.used %} {{ player.total_points }} points {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  

  <!-- Debug/Info Section -->
  <div class="row">
    <div class="col">
      <p>{{ history.wildcard_1 }}</p>
      <p>{{ history.wildcard_2 }}</p>
      <p>{{ history.freehit }}</p>
      <p>{{ history.am }}</p>
      <p>{{ history['3xc'] }}</p>
      <p>{{ history.bboost }}</p>
    </div>
  </div>
</div>

{% endblock %}
