{% extends "info.html" %}
{% block title %}Defence{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="table-responsive"><!-- horizontal scroll -->
        <table id="defence-table" class="interactive-table table table-borderless table-striped text-center text-nowrap">
            <thead class="th-bg-primary text-center">
                <tr class="sticky-top">
                    <th id="top-players" class="sticky-col align-middle">↑ Top Five
                    </th>
                    <th colspan="2" class="round-border-top-right"></th>
                    <th colspan="19" class="bg-team round-border-top ps-3 text-start text-md-center"
                        title="Players that are or have been in {{ manager.team_name }} this season">
                        Stats for {{ manager.team_name }}
                    </th>
                    <th colspan="22"  class="round-border-top ps-3 text-start text-lg-center">Player Totals</th>
                </tr>
                <tr class="">
                    <th id="entries" class="sticky-col"></th>
                    <th data-sort="selected_by_percent" class="sort">%</th>
                    <th data-sort="now_cost" class="sort">£</th>
                    
                    {# --- Team-specific columns (primary) --- #}
                    <th data-sort="total_points_team" class="sort-team bg-team">P</th>
                    <th data-sort="starts_team" class="sort-team bg-team">S</th>
                    <th data-sort="minutes_team" class="sort-team bg-team">M</th>
                    <th data-sort="defensive_contribution_count_team" class="sort-team bg-team">DC</th>
                    <th data-sort="defensive_contribution_points_team" class="sort-team bg-team">DC P</th>
                    <th data-sort="defensive_contribution_team" class="sort-team bg-team">DC Tot</th>
                    <th data-sort="defensive_contribution_per_90_team" class="sort-team bg-team">DC90</th>
                    <th data-sort="cbi_team" class="sort-team bg-team">CBI</th>
                    <th data-sort="tackles_team" class="sort-team bg-team">T</th>
                    <th data-sort="recoveries_team" class="sort-team bg-team">R</th>
                    <th data-sort="clean_sheets_team" class="sort-team bg-team">CS</th>
                    <th data-sort="clean_sheets_per_90_team" class="sort-team bg-team">CS90</th>
                    <th data-sort="clean_sheets_rate_team" class="sort-team bg-team">CS R</th>
                    
                    <th data-sort="penalties_saved_team" class="sort-team bg-team">PS</th>
                    
                    <!-- Negatives -->
                    <th data-sort="yellow_cards_team" class="sort-team bg-team">YC</th>
                    <th data-sort="red_cards_team" class="sort-team bg-team">RC</th>
                    <th data-sort="goals_conceded_team" class="sort-team bg-team">GC</th>
                    <th data-sort="expected_goals_conceded_team" class="sort-team bg-team">xGC</th>
                    <th data-sort="own_goals_team" class="sort-team bg-team">OG</th>
                    
                    {# --- Overall columns (secondary) --- #}
                    <th data-sort="total_points" class="sort">P</th>
                    <th data-sort="starts" class="sort">S</th>
                    <th data-sort="minutes" class="sort">M</th>
                    <th data-sort="defensive_contribution_count" class="sort">DC</th>
                    <th data-sort="defensive_contribution_points" class="sort">DC P</th>
                    <th data-sort="defensive_contribution" class="sort">D Tot</th>
                    <th data-sort="defensive_contribution_per_90" class="sort">DC90</th>
                    <th data-sort="cbi" class="sort">CBI</th>
                    <th data-sort="tackles" class="sort">T</th>
                    <th data-sort="recoveries" class="sort">R</th>
                    <th data-sort="clean_sheets" class="sort">CS</th>
                    <th data-sort="clean_sheets_per_90" class="sort">CS90</th>
            
                    <th data-sort="penalties_saved" class="sort">PS</th>
                    <th data-sort="yellow_cards" class="sort">YC</th>
                    <th data-sort="red_cards" class="sort">RC</th>
                    <th data-sort="goals_conceded" class="sort">GC</th>
                    <th data-sort="expected_goals_conceded" class="sort">xGC</th>
                    <th data-sort="own_goals" class="sort">OG</th>
                    <th data-sort="penalties_missed" class="sort">PM</th>
                </tr>
            </thead>
    
            <tbody id="player-table-body">
                <!-- rows injected by script.js -->
            </tbody>
    
            <tfoot>
                <tr class="th-bg-primary text-center">
                    <th class="sticky-col round-border-btm-left"></th>
                    <th colspan="2" class="th-bg-primary round-border-btm-right">
                    <th colspan="19" class="bg-team round-border-btm">
                        <div id="loading" style="display:none;">Loading…</div>
                    </th>
                    <th colspan="23" class="round-border-btm"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    // 1) Page‐specific lookup for header‐hover tooltips:
    const managerName = {{ manager.team_name| tojson }};
    const lookup = {
        "selected_by_percent": "Teams selected by",
        "now_cost": "Current price",
        
        "total_points_team": `Points for ${managerName}`,
        "starts_team": `Starts for ${managerName}`,
        "minutes_team": `Minutes played for ${managerName}`,
        "defensive_contribution_count_team": `Times achieved defensive contributions bonus for ${managerName}`,
        "defensive_contribution_points_team": `Defensive contributions points for ${managerName}`,
        "defensive_contribution_team": `Defensive contributions for ${managerName}`,
        "defensive_contribution_per_90_team": `Defensive contributions per 90 for ${managerName}`,
        "cbi_team": `Clearances, blocks and interceptions for ${managerName}`,
        "recoveries_team": `Recoveries for ${managerName}`,
        "tackles_team": `Tackles for ${managerName}`,
        "clean_sheets_team": `Clean sheets for ${managerName}`,
        "clean_sheets_per_90_team": `Clean sheets per 90 for ${managerName}`,
        "clean_sheets_rate_team": `Clean sheets rate for ${managerName}. (1 = every game played)`,
        // "captained_team": `Times captained for ${managerName}`,
        "dreamteam_count_team": `# in Dreamteam for ${managerName}`,
        "bonus_team": `Bonus points for ${managerName}`,
        "penalties_saved_team": `Penalties saved for ${managerName}`,
        "starts_benched_team": `Benched starts for ${managerName}`,
        "minutes_benched_team": `Benched minutes for ${managerName}`,
        "yellow_cards_team": `Yellow cards for ${managerName}`,
        "red_cards_team": `Red cards for ${managerName}`,
        "goals_conceded_team": `Goals conceded by ${managerName}`,
        "expected_goals_conceded": `Expected goals conceded by ${managerName}`,
        "own_goals_team": `Own goals by ${managerName}`,
        
        "total_points": "Total points",
        "starts": "Total starts",
        "minutes": "Total minutes",
        "defensive_contribution_count": "Times achieved bonus for defensive contributions",
        "defensive_contribution_points": "Total points for defensive contributions",
        "defensive_contribution": "Total defensive contributions",
        "defensive_contribution_per_90": "Defensive contributions per 90",
        "cbi": `Total clearances, blocks and interceptions`,
        "recoveries": `Total recoveries`,
        "tackles": `Total tackles`,
        "clean_sheets": "Total clean sheets",
        "clean_sheets_per_90": "Clean sheets per 90",
        "dreamteam_count": "Total Dreamteam appearances",
        "bonus": "Total bonus points",
        "penalties_saved": "Total penalties saved",
        "yellow_cards": "Total yellow cards",
        "red_cards": "Total red cards",
        "goals_conceded": "Total goals conceded",
        "expected_goals_conceded": "Total expected goals conceded",
        "own_goals": "Total own goals",
        "penalties_missed": "Total penalties missed",
        "top-players": "Pictures of the top players for this category",
        "entries": "Number of entries",
        "team-data": "Team stats",
        "overall-data": "Overall stats"
    };

    const positionMap = {
            1: "GK",
            2: "DEF",
            3: "MID",
            4: "FWD"
        };

    // 2) Now inject the shared tableConfig for `script.js` to pick up:
    window.tableConfig = {
        table: "defence",
        url: `/get-sorted-players?table=defence&team_id={{ team_id }}`,
        tbodySelector: "#player-table-body",
        loadingSelector: "#loading",
        currentGw: {{ (current_gw or 1)| int }},
        sortBy: "{{ sort_by }}",
        sortOrder: "{{ order }}",
        lookup: lookup,
        // columns tells script.js what to render, in order:
        columns: [
            // rank + name
            { render: (p, idx) => {
                const short = p.web_name.length > 11 ? p.web_name.slice(0, 11) + '…' : p.web_name;
                const badgeUrl = `https://resources.premierleague.com/premierleague/badges/100/t${p.team_code}@x2.png`;

                return `
                    <td class="sticky-col vert-border-end vert-border">
                        <div class="d-flex align-items-center">
                            <div class="text-center vert-border-end d-none d-lg-inline" flex:0 0 auto;">${idx + 1}</div> 
                            <img 
                                src="${badgeUrl}"
                                alt="${p.team_name} badge"
                                class="img-fluid overlap-badge ms-1"
                                data-bs-toggle="tooltip"
                                title="${p.team_name}"
                                style="width: 20px; height: 20px; flex:0 0 auto;"
                                onerror="this.onerror=null;this.src='https://resources.premierleague.com/premierleague/photos/players/110x140/Photo-Missing.png';"
                            >
                            <div class="d-flex align-items-end">
                                <div class="ms-1 ">${short}</div>
                                <div class="small text-muted d-none d-lg-inline">&nbsp;${positionMap[p.element_type] || p.element_type}</div>
                            </div>
                        </div>
                    </td>`;
                }
            },

            { key: "selected_by_percent", className: "sort", dataColumn: "selected_by_percent", formatter: v => `${parseFloat(v).toFixed(0)}%` },
            { key: "now_cost", className: "sort", dataColumn: "now_cost", formatter: v => `£${(v / 10).toFixed(1)}m` },
            // team‐specific (primary) columns:
            { key: "total_points_team", className: "sort-team vert-border vert-border-end", sortLevel: "primary", dataColumn: "total_points", formatter: v => `${parseFloat(v)}p`  },
            { key: "starts_team", className: "sort-team", sortLevel: "primary", dataColumn: "starts" },
            { key: "minutes_team", className: "sort-team vert-border-end", sortLevel: "primary", dataColumn: "minutes" },
            { key: "defensive_contribution_count_team", className: "sort-team", sortLevel: "primary", dataColumn: "defcon_count" },
            { key: "defensive_contribution_points_team", className: "sort-team", sortLevel: "primary", dataColumn: "defcon_points" },
            { key: "defensive_contribution_team", className: "sort-team", sortLevel: "primary", dataColumn: "defcon" },
            { key: "defensive_contribution_per_90_team", className: "sort-team", sortLevel: "primary", dataColumn: "defcon_90", formatter: v => (v).toFixed(1) },
            { key: "cbi_team", className: "sort-team", sortLevel: "primary", dataColumn: "cbi" },
            { key: "tackles_team", className: "sort-team", sortLevel: "primary", dataColumn: "tackles"},
            { key: "recoveries_team", className: "sort-team", sortLevel: "primary", dataColumn: "recoveries" },
            { key: "clean_sheets_team", className: "sort-team vert-border", sortLevel: "primary", dataColumn: "clean_sheets" },
            { key: "clean_sheets_per_90_team", className: "sort-team", sortLevel: "primary", dataColumn: "clean_sheets_per_90", formatter: v => (v).toFixed(1) },
            { key: "clean_sheets_rate_team", className: "sort-team vert-border-end", sortLevel: "primary", dataColumn: "clean_sheets_rate", formatter: v=> (v).toFixed(1) },
            // { key: "captained_team", dataColumn: "captained" },
            { key: "penalties_saved_team", className: "sort-team", sortLevel: "primary", dataColumn: "penalties_saved" },
            // Negatives
            { key: "yellow_cards_team", className: "sort-team text-danger vert-border", sortLevel: "primary", dataColumn: "yellow_cards" },
            { key: "red_cards_team", className: "sort-team text-danger", sortLevel: "primary", dataColumn: "red_cards" },
            { key: "goals_conceded_team", className: "sort-team text-danger", sortLevel: "primary", dataColumn: "goals_conceded" },
            { key: "expected_goals_conceded_team", className: "sort-team text-danger", sortLevel: "primary", dataColumn: "expected_goals_conceded", formatter: v => (Math.round(v * 10) / 10).toFixed(1) },
            { key: "own_goals_team", className: "sort-team text-danger", sortLevel: "primary", dataColumn: "own_goals" },
            
            // 15 overall (secondary) columns:
            { key: "total_points", className: "sort vert-border", sortLevel: "secondary", dataColumn: "total_points", formatter: v => `${parseFloat(v)}p` },
            { key: "starts", className: "sort", sortLevel: "secondary", dataColumn: "starts" },
            { key: "minutes", className: "sort vert-border-end", sortLevel: "secondary", dataColumn: "minutes" },
            { key: "defensive_contribution_count", className: "sort", sortLevel: "secondary", dataColumn: "defcon_count" },
            { key: "defensive_contribution_points", className: "sort", sortLevel: "secondary", dataColumn: "defcon_points" },
            { key: "defensive_contribution", className: "sort", sortLevel: "secondary", dataColumn: "defcon" },
            { key: "defensive_contribution_per_90", className: "sort", sortLevel: "secondary", dataColumn: "defcon_90" },
            { key: "cbi", className: "sort vert-border", sortLevel: "secondary", dataColumn: "cbi" },
            { key: "tackles", className: "sort", sortLevel: "secondary", dataColumn: "tackles" },
            { key: "recoveries", className: "sort", sortLevel: "secondary", dataColumn: "recoveries" },
            { key: "clean_sheets", className: "sort vert-border", sortLevel: "secondary", dataColumn: "clean_sheets" },
            { key: "clean_sheets_per_90", className: "sort", sortLevel: "secondary", dataColumn: "clean_sheets_per_90", formatter: v => (v).toFixed(2) },
            { key: "penalties_saved", className: "sort vert-border", sortLevel: "secondary", dataColumn: "penalties_saved" },
            // Negatives
            { key: "yellow_cards", className: "sort text-danger vert-border", sortLevel: "secondary", dataColumn: "yellow_cards" },
            { key: "red_cards", className: "sort text-danger", sortLevel: "secondary", dataColumn: "red_cards" },
            { key: "goals_conceded", className: "sort text-danger", sortLevel: "secondary", dataColumn: "goals_conceded" },
            { key: "expected_goals_conceded", className: "sort text-danger", sortLevel: "secondary", dataColumn: "expected_goals_conceded", formatter: v => (Math.round(v * 10) / 10).toFixed(1) },
            { key: "own_goals", className: "sort text-danger", sortLevel: "secondary", dataColumn: "own_goals" },
            { key: "penalties_missed", className: "sort text-danger vert-border-end", sortLevel: "secondary", dataColumn: "penalties_missed" }
        ]
        // currentGw: {{ current_gw }}
    };
</script>

{% endblock %}