{% extends "layout.html" %}

{% block body %}
<div class="d-flex flex-column align-items-center justify-content-center mt-5">
  <!-- Enter Team ID Form -->
  <form action="/" method="POST" class="mb-5">
    <h4 class="text-center mb-3">Please enter a team ID</h4>
    <div class="input-group">
      <div class="form-floating">
        <input name="team_id" type="number" class="form-control" id="team_id" placeholder="FPL ID" required>
        <label for="team_id">FPL ID</label>
      </div>
      <button class="btn bg-red" type="submit">GO!</button>
    </div>
  </form>
  
  <!-- Select from List Form -->
  <form action="/" method="POST" class="mb-5">
    <h4 class="text-center mb-3">Or select from list</h4>
    <select name="team_id" class="form-select" onchange="this.form.submit()">
      <option value="" selected disabled>Select a team</option>
      <option value="893074">Gerry</option>
      <option value="15208">Steffen</option>


    </select>
  </form>
</div>
{% endblock %}

