{% extends "layout.html" %}

{% block body %}
  <div class="row">
    <div class="col">

        <div id="sort-info" class="d-flex bg-yellow p-1">
          Current Sort:&nbsp;<span id="current-sort" class="fw-bold"></span>&nbsp;
          <span id="current-order"></span>
          <div class="d-none d-sm-inline ms-auto">
            <span id="current-hover">Click table headers to change sort</span>
          </div>
        </div>
    </div>
  </div>

  <!-- Reorder columns so filter (with checkboxes) comes before player images on mobile -->
  <div class="row">

    <!-- Player images section: order-2 on mobile, order-lg-1 on large screens -->
    <div class="col-12 col-lg-6 order-2 order-lg-1">
      <div id="player-images" class="badge-image-container d-flex py-2">
        <!-- Skeleton Loader for entire container -->
        <div class="skeleton-loader-container">
          <div class="skeleton-loader"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% block page_content %}
      <!-- Child templates will fill this block -->
    {% endblock %}
  </div>
{% endblock %}
