{% extends "layout.html" %}

{% block body %}
 

  <div class="row">

    <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex align-items-center">
      <div id="sort-info" class="d-flex p-1">
        Sorted by:&nbsp;<span id="current-sort" class="fw-bold"></span>&nbsp;
        <span id="current-order"></span>
      </div>
    </div>

    <!-- Player images section: order-2 on mobile, order-lg-1 on large screens -->
    <div class="col-12 col-lg-6 order-2 order-lg-1">
      <div id="player-images" class="badge-image-container d-flex py-2">
        <!-- Skeleton Loader for entire container -->
        <div class="skeleton-loader-container">
          <div class="skeleton-loader"></div>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    {% block page_content %}
      <!-- Child templates will fill this block -->
    {% endblock %}
  </div>
{% endblock %}
