{% extends "layout.html" %}

{% block body %}

<div class="row p-1 gy-1 gx-2">
  <!-- FILTER COLUMN -->
  <div class="col-12 col-lg-6 order-1 order-lg-2 {% if hide_element %}d-none{% endif %} px-2"><!-- small padding -->
    <!-- FILTER BUTTON AND CURRENT SORT ROW -->
    <div class="row g-0">
      <div class="d-flex flex-row align-items-center">
        <!-- Toggle button (mobile only) -->
        <button class="btn btn-outline-primary bg-alert d-lg-none mb-1" type="button" data-bs-toggle="collapse"
          data-bs-target="#filterContent" aria-expanded="false" aria-controls="filterContent">
          Filter
        </button>
        <!-- SORT INFO -->
        <div id="sort-info" class="mx-2 mx-lg-0 pt-lg-2">
          <!-- Sorted by:&nbsp; -->
          <div class="flex-lg-row ">
            <span id="current-sort" class="fw-light"></span>&nbsp;<span id="current-order"></span>
          </div>
        </div>
      </div>
    </div>
  <!-- Collapsible filter content -->
  <div id="filterContent" class="collapse d-lg-block col-lg-12">
  <div id="filter" class="mb-2">
    <div class="row align-items-stretch">
    
      <!-- SWITCHES -->
      <div class="col-12 col-lg-2 order-2 order-lg-1
                  d-flex flex-column justify-content-lg-end mt-2 mt-lg-0">
        <!-- Mobile row: switches + reset inline -->
        <div class="d-flex flex-nowrap align-items-center justify-content-center w-100 flex-lg-column">
          <form id="checkboxForm" class="d-flex flex-nowrap gap-2 gap-lg-0 flex-lg-column">
            <div class="form-check form-switch">
              <input type="checkbox" name="position" id="checkbox1" class="form-check-input" value="1" checked>
              <label class="form-check-label" for="checkbox1">GK</label>
            </div>
            <div class="form-check form-switch">
              <input type="checkbox" name="position" id="checkbox2" class="form-check-input" value="2" checked>
              <label class="form-check-label" for="checkbox2">DEF</label>
            </div>
            <div class="form-check form-switch">
              <input type="checkbox" name="position" id="checkbox3" class="form-check-input" value="3" checked>
              <label class="form-check-label" for="checkbox3">MID</label>
            </div>
            <div class="form-check form-switch">
              <input type="checkbox" name="position" id="checkbox4" class="form-check-input" value="4" checked>
              <label class="form-check-label" for="checkbox4">FWD</label>
            </div>
          </form>
    
          <!-- Mobile reset (inline at end of switches row) -->
          <button id="resetBtnMobile" type="button" class="btn btn-outline-primary ms-2 d-lg-none reset-filters">
            ↻
          </button>
        </div>
      </div>
    
      <!-- RESET column (LG only, between switches and sliders) -->
      <div class="col-12 col-lg-2 order-3 order-lg-3 d-none d-lg-flex align-items-center">
        <button id="resetBtnLg" type="button" class="btn btn-outline-primary w-100 reset-filters">
          ↻ <br> Reset
        </button>
      </div>
    
      <!-- SLIDERS (most width on LG) -->
      <div class="col-12 col-lg-7 order-1 order-lg-2">
        <div class="d-flex flex-column justify-content-center h-100">
          <div class="d-flex flex-column py-2 align-items-center">
            <label for="price-slider" class="form-label">Price</label>
            <div id="price-slider" class="slider-narrow w-100"></div>
          </div>
          <div class="d-flex flex-column py-2 align-items-center">
            <label for="minutes-slider" class="form-label">Minutes</label>
            <div id="minutes-slider" class="slider-narrow w-100"></div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  </div>


  </div>

  <!-- PLAYER IMAGES COLUMN -->
  <div class="col-12 col-lg-6 order-2 order-lg-1">

    <div id="player-images" class="player-image-container d-flex py-1">
      <div class="skeleton-loader-container">
        <div class="skeleton-loader"></div>
      </div>
    </div>

  </div>
</div>

<!-- row for child templates -->
<div class="row">
  {% block page_content %}
  <!-- Child templates (your table) goes here -->
  {% endblock %}
</div>
{% endblock %}