{% extends "layout.html" %}

{% block body %}
<div class="container">
  <!-- <h1>Manager stats</h1> -->

  <!-- Past Seasons -->
  {% if history.past %}

  <section id="previous-seasons-section" class="mt-5 row">
    <h2>Past Seasons</h2>
    <div class="row">
      <div class="col-12 col-lg-6 mb-3">
        <div class="chart-container mb-5 position-relative">
          <div class="btn-group btn-group-sm toggle-group">
            <button type="button" id="past-linear-btn" class="btn btn-outline-secondary">
              Linear
            </button>
            <button type="button" id="past-log-btn" class="btn btn-outline-secondary active">
              Log
            </button>
          </div>
          <canvas id="previousSeasonsChart"></canvas>
        </div>
      </div>
      
      <!-- Past Seasons Table -->
      <h3 class="mb-2">Past Seasons Table</h3>
      <div class="col-12 col-lg-6">
        <div class="table-responsive manager-scrollable-table">
          <div id="previous-seasons-table-container">
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <!-- Current Season -->
  <section id="current-season-section">
    <h2 class="mt-3">Current Season</h2>

    <div class="row">
      <!-- Current Season Chart -->
      <div class="col-12 col-lg-9">
        <div class="chart-container mb-5 position-relative">
          <div class="btn-group btn-group-sm toggle-group">
            <button type="button" id="current-linear-btn" class="btn btn-outline-secondary">Linear</button>
            <button type="button" id="current-log-btn" class="btn btn-outline-secondary active">Log</button>
          </div>
          <canvas id="currentSeasonChart"></canvas>
        </div>
      </div>
  
      <!-- Current Season Table  -->
      <div class="col-12 col-lg-3">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <h3 class="mb-0">Current Season Table</h3>

          <button type="button" class="btn btn-sm btn-outline-secondary info-btn" data-bs-toggle="popover" data-bs-trigger="focus"
            data-bs-html="true" title="Column Explanations" data-bs-content="
                    <table class='table table-borderless table-sm mb-0 align-middle'>
                      <tbody>
                        <tr><td><strong>GW</strong></td><td>Gameweek</td></tr>
                        <tr><td><strong>OR</strong></td><td>Overall Rank</td></tr>
                        <tr><td><strong>#</strong></td><td>Movement</td></tr>
                        <tr><td><strong>OP</strong></td><td>Overall Points</td></tr>
                        <tr><td><strong>GWR</strong></td><td>Gameweek Rank</td></tr>
                        <tr><td><strong>PB</strong></td><td>Points Benched</td></tr>
                        <tr><td><strong>TM</strong></td><td>Transfers Made</td></tr>
                        <tr><td><strong>TC</strong></td><td>Transfers Cost</td></tr>
                        <tr><td><strong>£</strong></td><td>Team Value</td></tr>
                      </tbody>
                    </table>
                  ">
            <i class="bi bi-info-circle"></i> Info
          </button>

        </div>

        <div class="table-responsive manager-scrollable-table">
          <div id="current-season-table-container"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- CHIPS -->
  <section>
    <!-- Chips Tables -->
    <div class="row mt-4">
      <H2>Chips</H2>
      <div class="col">
        <div class="table-responsive">
          <table class="my-3 table">
            <thead>
              <tr>
                <th colspan="4">
                  First Half of the Season
                </th>
              </tr>
              <tr>
                <caption>Gameweeks 1-19</caption>
                <th class="text-nowrap align-top"><span class="d-sm-none">WC</span><span
                    class="d-none d-sm-inline">Wildcard</span></th>
                <th class="text-nowrap align-top"><span class="d-sm-none">FH</span><span
                    class="d-none d-sm-inline">Freehit</span></th>
                <th><span class="d-sm-none">3x Cap</span><span class="d-none d-sm-inline">Triple
                    Captain</span></th>
                <th><span class="d-sm-none">BB</span><span class="d-none d-sm-inline">Bench Boost</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-nowrap">
                <td>{% if chips_state.wildcard_1.used %} GW {{ chips_state.wildcard_1.gw }} {% else %} <span
                    class="text-muted">Unused</span> {% endif %}</td>
                <td>{% if chips_state.freehit_1.used %} GW {{ chips_state.freehit_1.gw }} {% else %} <span
                    class="text-muted">Unused</span> {% endif %}</td>
                <td>{% if chips_state['3xc_1'].used %} GW {{ chips_state['3xc_1'].gw }} {% else %} <span
                    class="text-muted">Unused</span> {% endif %}</td>
                <td>{% if chips_state.bboost_1.used %} GW {{ chips_state.bboost_1.gw }} {% else %} <span
                    class="text-muted">Unused</span> {% endif %}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="my-3 table">
            <thead>
              <tr>
                <th colspan="4">
                  Second Half of the Season
                </th>
              </tr>
              <tr>
                <caption>Gameweeks 20-38</caption>
                <th class="text-nowrap align-top"><span class="d-sm-none">WC</span><span
                    class="d-none d-sm-inline">Wildcard</span></th>
                <th class="text-nowrap align-top"><span class="d-sm-none">FH</span><span
                    class="d-none d-sm-inline">Freehit</span></th>
                <th><span class="d-sm-none">3x Cap</span><span class="d-none d-sm-inline">Triple
                    Captain</span></th>
                <th><span class="d-sm-none">BB</span><span class="d-none d-sm-inline">Bench Boost</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-nowrap">
                <td>{% if chips_state.wildcard_2.used %} GW {{ chips_state.wildcard_2.gw }} {% else %} <span
                    class="text-muted">Unused</span> {% endif %}</td>
                <td>{% if chips_state.freehit_2.used %} GW {{ chips_state.freehit_2.gw }} {% else %} <span
                    class="text-muted">Unused</span> {% endif %}</td>
                <td>{% if chips_state['3xc_2'].used %} GW {{ chips_state['3xc_2'].gw }} {% else %} <span
                    class="text-muted">Unused</span> {% endif %}</td>
                <td>{% if chips_state.bboost_2.used %} GW {{ chips_state.bboost_2.gw }} {% else %} <span
                    class="text-muted">Unused</span> {% endif %}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <!-- Triple Captains Section -->
    <div class="row">
      <!-- Triple Captain 1 Column -->
      <div class="col-12 col-lg-6">
        <div id="3xc_1" class="mb-3 shadow rounded" style="overflow: hidden;">
          <div class="bg-purple p-2">
            <div class="px-3 fw-bold">
              Triple Captain 1 {% if chips_state['3xc_1']['used'] %} | {{ chips_state['3xc_1']['total_points']
              }} points {% endif %}
            </div>
            <div class="px-3 fw-bold">
              {% if chips_state['3xc_1']['used'] %} GW {{ chips_state['3xc_1']['gw'] }} {% else %} <span
                style="color: var(--purple)">.</span> {% endif %}
            </div>
          </div>
          <div class="team-{{ chips_state['3xc_1']['team_code'] }} p-0 pt-1 text-end">
            <div class="position-relative">
              <img class="team-player " loading="lazy"
                src="https://resources.premierleague.com/premierleague/photos/players/250x250/{{ chips_state['3xc_1']['photo'] }}.png"
                alt="Triple Captain">
              <div class="position-absolute chips-text text-overlay">
                {% if chips_state['3xc_1']['used'] %} {{ chips_state['3xc_1']['web_name'] }} {% endif %}
              </div>
              <div class="position-absolute chips-text-points text-overlay">
                {% if chips_state['3xc_1']['used'] %} {{ chips_state['3xc_1']['total_points'] * 3 }} Points
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Triple Captain 2 Column -->
      <div class="col-12 col-lg-6">
        <div id="3xc_2" class="mb-3 shadow rounded" style="overflow: hidden;">
          <div class="bg-purple p-2">
            <div class="px-3 fw-bold">
              Triple Captain 2 {% if chips_state['3xc_2']['used'] %} | {{ chips_state['3xc_2']['total_points']
              }} points {% endif %}
            </div>
            <div class="px-3 fw-bold">
              {% if chips_state['3xc_2']['used'] %} GW {{ chips_state['3xc_2']['gw'] }} {% else %} <span
                style="color: var(--purple)">.</span> {% endif %}
            </div>
          </div>
          <div class="team-{{ chips_state['3xc_2']['team_code'] }} p-0 pt-1 text-end">
            <div class="position-relative">
              <img class="team-player " loading="lazy"
                src="https://resources.premierleague.com/premierleague/photos/players/250x250/{{ chips_state['3xc_2']['photo'] }}.png"
                alt="Triple Captain">
              <div class="position-absolute chips-text text-overlay">
                {% if chips_state['3xc_2']['used'] %} {{ chips_state['3xc_2']['web_name'] }} {% endif %}
              </div>
              <div class="position-absolute chips-text-points text-overlay">
                {% if chips_state['3xc_2']['used'] %} {{ chips_state['3xc_2']['total_points'] * 3 }} Points
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Bench Boosts section -->
    <!-- Bench Boost 1 -->
    <div class="shadow rounded p-0 mb-5 overflow-hidden">
      <div class="row g-0">
        <div id="bboost_1" class="bg-purple d-flex p-2 fw-bold w-100">
          <div>
            Bench Boost 1
            {% if chips_state.bboost_1.used %} | {{ chips_state.bboost_1.total_points }} points {% endif %}
          </div>
          <div class="ms-auto">
            {% if chips_state.bboost_1.used %} GW {{ chips_state.bboost_1.gw }} {% endif %}
          </div>
        </div>
      </div>
    
      <div class="row g-0 text-center">
        {% for player in chips_state.bboost_1.players %}
        <div class="col-12 col-md-6 col-lg-3 {% if not loop.last %} border-end {% endif %}">
    
          <div class="team-{{ player.team_code }} p-0 pt-1">
            <div class="position-relative">
              <img class="team-player" loading="lazy"
                src="http://resources.premierleague.com/premierleague/photos/players/250x250/{{ player.photo }}.png"
                alt="Bench Boost Player">
    
              <div class="position-absolute chips-text text-overlay">
                {% if chips_state.bboost_1.used %} {{ player.web_name }} {% endif %}
              </div>
    
              <div class="position-absolute chips-text-points text-overlay">
                {% if chips_state.bboost_1.used %} {{ player.total_points }} points {% endif %}
              </div>
            </div>
          </div>
    
        </div>
        {% endfor %}
      </div>
    </div>
    
    <!-- Bench boost 2 -->
    <div class="shadow rounded p-0 mb-5 overflow-hidden">
      <div class="row g-0">
        <div id="bboost_2" class="bg-purple d-flex p-2 fw-bold w-100">
          <div>
            Bench Boost 2
            {% if chips_state.bboost_2.used %} | {{ chips_state.bboost_2.total_points }} points {% endif %}
          </div>
          <div class="ms-auto">
            {% if chips_state.bboost_2.used %} GW {{ chips_state.bboost_2.gw }} {% endif %}
          </div>
        </div>
      </div>
    
      <div class="row g-0 text-center">
        {% for player in chips_state.bboost_2.players %}
        <div class="col-12 col-md-6 col-lg-3 {% if not loop.last %} border-end {% endif %}">
    
          <div class="team-{{ player.team_code }} p-0 pt-1">
            <div class="position-relative">
              <img class="team-player" loading="lazy"
                src="http://resources.premierleague.com/premierleague/photos/players/250x250/{{ player.photo }}.png"
                alt="Bench Boost Player">
    
              <div class="position-absolute chips-text text-overlay">
                {% if chips_state.bboost_2.used %} {{ player.web_name }} {% endif %}
              </div>
    
              <div class="position-absolute chips-text-points text-overlay">
                {% if chips_state.bboost_2.used %} {{ player.total_points }} points {% endif %}
              </div>
            </div>
          </div>
    
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
{% block scripts %}
  <script>
      console.log(
          '[inline] initManagerPage defined?',
          typeof initManagerPage
        );

        // Utility: performance emoji for past seasons table
        function performanceEmoji(p) {
          if (p === null) return "–";
          if (p > 70) return "💩";
          if (p > 60) return "😭";
          if (p > 50) return "😢";
          if (p > 40) return "☹️";
          if (p > 30) return "🙁";
          if (p > 20) return "😐";
          if (p > 15) return "😌";
          if (p > 10) return "🙂";
          if (p > 5) return "😁";
          if (p > 1) return "😎";
          if (p === 1) return "🥰";
          if (p > 0.5) return "😍";
          if (p > 0.1) return "🤩";
          return "🤯";
        }
        
    // Formatters
    const nf = new Intl.NumberFormat();               // 1234567 -> 1,234,567
    const compact = new Intl.NumberFormat("en", {     // 1234567 -> 1.2M
        notation: "compact",
        maximumFractionDigits: 1
      });

    window.pageConfigs = {
    
      currentSeason: {
        tableContainerId: "current-season-table-container",
        chartId: "currentSeasonChart",
        ajaxRoute: "/api/current-season",
        columns: [
          { label: "GW", key: "gw", thAttrs: 'data-bs-toggle="tooltip" title="Gameweek"' },
          { label: "OR", key: "or", thAttrs: 'data-bs-toggle="tooltip" title="Overall Rank"', formatter: v => compact.format(v) },
          { label: "#", key: "#:", thAttrs: 'data-bs-toggle="tooltip" title="Movement"' },
          { label: "OP", key: "op", thAttrs: 'data-bs-toggle="tooltip" title="Overall Points"' },
          { label: "GWR", key: "gwr", thAttrs: 'data-bs-toggle="tooltip" title="Gameweek Rank"', formatter: v => compact.format(v) },
          { label: "PB", key: "pb", thAttrs: 'data-bs-toggle="tooltip" title="Points Benched"' },
          { label: "TM", key: "tm", thAttrs: 'data-bs-toggle="tooltip" title="Transfers Made"', },
          { label: "TC", key: "tc", thAttrs: 'data-bs-toggle="tooltip" title="Transfers Cost"', },
          { label: "£", key: "£", thAttrs: 'data-bs-toggle="tooltip" title="Team Value"' },
        ],
        dataKey: "gw",
        sortBy: "gw",
        sortOrder: "asc",
        toggleBtns: ["current-linear-btn", "current-log-btn"],
        hoverDs: "Overall Rank",
        buildDatasets: (data) => {
          const gw = data.map(d => d.gw),
            or = data.map(d => d.or),
            gwr = data.map(d => d.gwr);

          return [
            {
              type: "line",
              label: "Overall Rank",
              data: or,
              borderColor: "purple",
              backgroundColor: "purple",
              tension: .3,
              pointRadius: 5,
              yAxisID: "y",
              order: 1,
            },
            {
              type: "line",
              pointStyle: "rectRounded",
              label: "GW Rank",
              data: gwr,
              borderColor: "green",
              backgroundColor: "green",
              borderWidth: 0,
              tension: 0.3,
              pointRadius: 5,
              yAxisID: "y",
              order: 2,
            },
          ];
        },
        scales: {
          x: {
            title: { display: true, text: "Gameweek" },
            grid: {
              drawTicks: true,
              drawBorder: false,
              drawOnChartArea: false,
            },
          },
          y: {
            position: "left",
            type: "logarithmic",
            reverse: true,
            title: { display: true, text: "Rank" },
            grid: {
              drawTicks: true,
              drawBorder: false,
              drawOnChartArea: true,
            },
            ticks: {
              maxTicksLimit: 6,
              callback: (value) =>
                typeof value === "number" ? compact.format(value) : value
            }
          },
        },
        options: {
          maintainAspectRatio: false,
          plugins: {
            legend: {
              labels: {
                filter: (legendItem) => legendItem.text !== "GW Points"
              }
            },
            tooltip: {
              callbacks: {
                title: (items) => `GW ${items[0].label}`,
                label: ({ dataset, parsed }) =>
                  `${dataset.label}: ${nf.format(parsed.y)}`
              }
            }
          }
        },
      },


        pastSeasons: {
          tableContainerId: "previous-seasons-table-container",
          chartId: "previousSeasonsChart",
          ajaxRoute: null,
          initialData: {{ history.past | tojson }},
          columns: [
              { label: "Season", key: "season_name", thAttrs: 'title="Year"' },
              { label: `<span class="d-lg-none"></span>
                        <span class="d-none d-lg-inline">Vibes</span>`, 
                key: "percentile", thAttrs: 'title="Emojis"', formatter: (v) => performanceEmoji(v) },
              { label: `
                        <span class="d-lg-none">%</span>
                        <span class="d-none d-lg-inline">Percentile</span>`, 
                thAttrs: 'data-bs-html="true" data-bs-toggle="tooltip" title="Percentile finish <br> Lower is better"',
                key: "percentile", formatter: (v) => v+"%" },
              { label: `<span class="d-lg-none">OR</span>
                        <span class="d-none d-lg-inline">Overall Rank</span>`,
                key: "rank",  thAttrs: 'data-bs-toggle="tooltip" title="Overall Rank"', formatter: v => nf.format(v) },
              { label: "Managers", key: "total_managers", thAttrs: 'data-bs-toggle="tooltip" title="Total Managers"', formatter: v => compact.format(v) },
              { label: "Total Points", key: "total_points", thAttrs: 'data-bs-toggle="tooltip" title="Total points for the season"' },
            ],
          dataKey: "season_name",
          sortBy: "season_name",
          sortOrder: "desc",
          toggleBtns: ["past-linear-btn", "past-log-btn"],
          hoverDs: 0,   // dataset index
          buildDatasets: (data) => {
            const labels = data.map(r => r.season_name),
              percentiles = data.map(r => r.percentile);
            return [
              { type: "line", label: "You (%)", data: percentiles, fill: false, backgroundColor: "purple", borderColor: "purple", pointRadius: 6 },
              { type: 'line', label: 'Top 1%', data: [], borderColor: '#2e7d32', borderDash: [6, 6] },
              { type: 'line', label: 'Top 10%', data: [], borderColor: '#fbc02d', borderDash: [6, 6] }
        ];
      },
      scales: {
          y: {
            type: "logarithmic",
              min: 0.08,
                max: 100,
                  reverse: true,
                    ticks: {
              maxTicksLimit: 6,
                callback: v => `${v}%`,
                  font: { size: 10 }
            }
          },
          x: {
            reverse: true,
              title: { display: true, text: "Season" },
            ticks: { font: { size: 10 } }
          }
        },
        // ← **NEW**: your entire custom options block
        options: {
          maintainAspectRatio: false,
            plugins: {
            tooltip: {
              callbacks: {
                label: (context) => {
                  const percentile = context.parsed.y;
                  const rank = "test";
                  return [
                    percentile != null ? `Percentile: ${percentile}%` : "No data",
                    rank != null ? `Rank: ${rank.toLocaleString()}` : ""
                  ];
                }
              }
            },
            annotation: {
              annotations: {
                top1: {
                  type: "line",
                    yMin: 1,
                      yMax: 1,
                        borderColor: "#2e7d32",
                          borderWidth: 2,
                            borderDash: [6, 6]
                },
                top10: {
                  type: "line",
                    yMin: 10,
                      yMax: 10,
                        borderColor: "#fbc02d",
                          borderWidth: 2,
                            borderDash: [6, 6]
                }
              }
            }
          }
        }
      }
    };

    // 2️⃣ Kick everything off
    console.log('[inline] pageConfigs is', window.pageConfigs);
    if (typeof initManagerPage === 'function') {
      console.log('[inline] calling initManagerPage()');
      initManagerPage(window.pageConfigs);
    } else {
      console.warn('[inline] initManagerPage is not a function, skipping');
    }

    if (typeof initComponents === "function") {
        initComponents();
      }

  </script>

{% endblock %}