{% extends "info.html" %}

{% block title %}Top Scorers{% endblock %}

{% block page_content %}
        <!-- PLAYER TABLE -->
            <div class="table-responsive">
                <table id="points-table" class="table table-borderless table-striped custom-striped text-nowrap">
                    <thead class="th-purple sticky-th">
                        <tr class="text-center ">
                            <th colspan="3" id="top-players" class="align-middle round-border-top" data-sort="top-players">↑ Top Five Players</th>
                            <th colspan="16" class="bg-team round-border-top" data-sort="team-data" title="Players that are or have been in {{ manager.team_name }} this season">Stats for {{ manager.team_name }}</th>
                            <th colspan="14" class="round-border-top  d-xxl-table-cell" data-sort="overall-data">Player Totals</th>
                        </tr>
                        <tr class="text-center">
                            <th colspan="3" id="entries"></th>
                            <th id="total_points_team" data-sort="total_points_team" onclick="sortTable('total_points_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'total_points_team' %}sorted{% endif %}">
                                P
                            </th>
                            <th id="ppm_team" data-sort="ppm_team" onclick="sortTable('ppm_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'ppm_team' %}sorted{% endif %}">
                                PPM
                            </th>
                            <th id="minutes_points_team" data-sort="minutes_points_team" onclick="sortTable('minutes_points_team')" class="sort-team bg-team  d-sm-table-cell {% if request.args.get('sort_by') == 'minutes_points_team' %}sorted{% endif %}">
                                M
                            </th>
                            <th id="clean_sheets_points_team" data-sort="clean_sheets_points_team" onclick="sortTable('clean_sheets_points_team')" class="sort-team bg-team  d-sm-table-cell {% if request.args.get('sort_by') == 'clean_sheets_points_team' %}sorted{% endif %}">
                                CS
                            </th>
                            <th id="assists_points_team" data-sort="assists_points_team" onclick="sortTable('assists_points_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'assists_points_team' %}sorted{% endif %}">
                                A
                            </th>
                            <th id="goals_points_team" data-sort="goals_points_team" onclick="sortTable('goals_points_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'goals_points_team' %}sorted{% endif %}">
                                G
                            </th>
                            <th id="bonus_points_team" data-sort="bonus_points_team" onclick="sortTable('bonus_points_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'bonus_points_team' %}sorted{% endif %}">
                                B
                            </th>
                            <th id="save_points_team" data-sort="save_points_team" onclick="sortTable('save_points_team')" class="sort-team bg-team  d-md-table-cell {% if request.args.get('sort_by') == 'save_points_team' %}sorted{% endif %}">
                                S
                            </th>
                            <th id="penalties_saved_points_team" data-sort="penalties_saved_points_team" onclick="sortTable('penalties_saved_points_team')" class="sort-team bg-team  d-xl-table-cell {% if request.args.get('sort_by') == 'penalties_saved_points_team' %}sorted{% endif %}">
                                PS
                            </th>


                            <th id="goals_conceded_points_team" data-sort="goals_conceded_points_team" onclick="sortTable('goals_conceded_points_team')" class="sort-team  d-xl-table-cell bg-team {% if request.args.get('sort_by') == 'goals_conceded_points_team' %}sorted{% endif %}">
                                GC
                            </th>
                            <th id="yellow_cards_points_team" data-sort="yellow_cards_points_team" onclick="sortTable('yellow_cards_points_team')" class="sort-team bg-team  d-xl-table-cell {% if request.args.get('sort_by') == 'yellow_cards_points_team' %}sorted{% endif %}">
                                YC
                            </th>
                            <th id="red_cards_points_team" data-sort="red_cards_points_team" onclick="sortTable('red_cards_points_team')" class="sort-team bg-team  d-xl-table-cell {% if request.args.get('sort_by') == 'red_cards_points_team' %}sorted{% endif %}">
                                RC
                            </th>
                            <th id="own_goals_points_team" data-sort="own_goals_points_team" onclick="sortTable('own_goals_points_team')" class="sort-team bg-team  d-xl-table-cell {% if request.args.get('sort_by') == 'own_goals_points_team' %}sorted{% endif %}">
                                OG
                            </th>
                            <th id="penalties_missed_points_team" data-sort="penalties_missed_points_team" onclick="sortTable('penalties_missed_points_team')" class="sort-team bg-team  d-xl-table-cell {% if request.args.get('sort_by') == 'penalties_missed_points_team' %}sorted{% endif %}">
                                PM
                            </th>
                            <th id="benched_points_team" data-sort="benched_points_team" onclick="sortTable('benched_points_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'benched_points_team' %}sorted{% endif %}">
                                B
                            </th>
                            <th id="captained_points_team" data-sort="captained_points_team" onclick="sortTable('captained_points_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'captained_points_team' %}sorted{% endif %}">
                                C
                            </th>


                            <th id="total_points" data-sort="total_points" onclick="sortTable('total_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'total_points' %}sorted{% endif %}">
                                P
                            </th>
                            <th id="ppm" data-sort="ppm" onclick="sortTable('ppm')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'ppm' %}sorted{% endif %}">
                                PPM
                            </th>
                            <th id="minutes_points" data-sort="minutes_points" onclick="sortTable('minutes_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'minutes_points' %}sorted{% endif %}">
                                M
                            </th>
                            <th id="clean_sheets_points" data-sort="clean_sheets_points" onclick="sortTable('clean_sheets_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'clean_sheets_points' %}sorted{% endif %}">
                                CS
                            </th>
                            <th id="assists_points" data-sort="assists_points" onclick="sortTable('assists_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'assists_points' %}sorted{% endif %}">
                                A
                            </th>
                            <th id="goals_points" data-sort="goals_points" onclick="sortTable('goals_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'goals_points' %}sorted{% endif %}">
                                G
                            </th>
                            <th id="bonus_points" data-sort="bonus_points" onclick="sortTable('bonus_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'bonus_points' %}sorted{% endif %}">
                                B
                            </th>
                            <th id="save_points" data-sort="save_points" onclick="sortTable('save_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'save_points' %}sorted{% endif %}">
                                S
                            </th>
                            <th id="penalties_saved_points" data-sort="penalties_saved_points" onclick="sortTable('penalties_saved_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'penalties_saved_points' %}sorted{% endif %}">
                                PS
                            </th>
                            <th id="goals_conceded_points" data-sort="goals_conceded_points" onclick="sortTable('goals_conceded_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'goals_conceded_points' %}sorted{% endif %}">
                                GC
                            </th>
                            <th id="yellow_cards_points" data-sort="yellow_cards_points" onclick="sortTable('yellow_cards_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'yellow_cards_points' %}sorted{% endif %}">
                                YC
                            </th>
                            <th id="red_cards_points" data-sort="red_cards_points" onclick="sortTable('red_cards_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'red_cards_points' %}sorted{% endif %}">
                                RC
                            </th>
                            <th id="own_goals_points" data-sort="own_goals_points" onclick="sortTable('own_goals_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'own_goals_points' %}sorted{% endif %}">
                                OG
                            </th>
                            <th id="penalties_missed_points" data-sort="penalties_missed_points" onclick="sortTable('penalties_missed_points')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'penalties_missed_points' %}sorted{% endif %}">
                                PM
                            </th>
                        </tr>
                    </thead>
                    <tbody id="player-table-body">
                    <!-- Player rows will be inserted here dynamically by JavaScript -->
                    </tbody>
                    <tfoot>
                        <tr class="th-purple text-center">
                            <th id="top-players" class="round-border-btm" colspan="3" style="color: var(--purple);">.</th>
                            <th colspan="16" class="bg-team round-border-btm align-middle">
                                <div id="loading" style="display: none;">Loading...</div>
                            </th>
                            <th colspan="14" class="round-border-btm  d-xxl-table-cell"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div> <!-- Close the row div here -->
        <div class="row">
        </div>
    </div> <!-- Close the container div here -->

    <script>
        currentSortColumn = {{sort_by | tojson}};
        currentSortOrder = {{order | tojson}};
        const managerName = {{manager.team_name | tojson}};

        document.addEventListener("DOMContentLoaded", function() {
            const table = document.querySelector('#points-table');

        // Hover
            table.addEventListener('mouseover', function(event) {
                const target = event.target;
                const columnType = target.getAttribute('data-column');
                const sortType = target.getAttribute('data-sort'); // Get primary/secondary type

                if (columnType && sortType) {
                    const row = target.closest('tr');

                    if (row) {
                    // Determine highlight colors based on sort type
                        const targetBg = sortType === "primary" ? "#e90052" : "#38003c";
                        const matchBg = sortType === "primary" ? "#38003c" : "#e90052";

                    // Store the original colors
                        target.dataset.originalBg = target.style.backgroundColor || '';
                        target.dataset.originalColor = target.style.color || '';

                    // Highlight the target cell
                        target.style.backgroundColor = targetBg;
                        target.style.color = '#FFF';
                        target.style.borderRadius = '3px';

                    // Highlight all matching cells with the opposite color
                        const matchingCells = row.querySelectorAll(`[data-column="${columnType}"]`);
                        matchingCells.forEach(cell => {
                            if (cell !== target) {
                                cell.dataset.originalBg = cell.style.backgroundColor || '';
                                cell.dataset.originalColor = cell.style.color || '';

                                cell.style.backgroundColor = matchBg;
                                cell.style.color = '#FFF';
                                cell.style.borderRadius = '3px';
                            }
                        });
                    }
                }
            });

        // Mouseout to reset colors
            table.addEventListener('mouseout', function(event) {
                const target = event.target;
                const columnType = target.getAttribute('data-column');

                if (columnType) {
                    const row = target.closest('tr');

                    if (row) {
                    // Reset the target cell
                        target.style.backgroundColor = target.dataset.originalBg || '';
                        target.style.color = target.dataset.originalColor || '';
                        target.style.borderRadius = '';

                    // Reset all matching cells
                        const matchingCells = row.querySelectorAll(`[data-column="${columnType}"]`);
                        matchingCells.forEach(cell => {
                            cell.style.backgroundColor = cell.dataset.originalBg || '';
                            cell.style.color = cell.dataset.originalColor || '';
                            cell.style.borderRadius = '';
                        });
                    }
                }
            });


            table.addEventListener('mouseout', function(event) {
                const target = event.target;
                const columnType = target.getAttribute('data-column');

                if (columnType) {
                    const row = target.closest('tr');

                    if (row) {
                    // Restore the original colors
                        target.style.backgroundColor = target.dataset.originalBg;
                        target.style.color = target.dataset.originalColor;
                        target.style.borderRadius = '0';

                        const matchingCells = row.querySelectorAll(`[data-column="${columnType}"]`);
                        matchingCells.forEach(cell => {
                            if (cell !== target) {
                                cell.style.backgroundColor = cell.dataset.originalBg;
                                cell.style.color = cell.dataset.originalColor;
                                cell.style.borderRadius = '0';
                            }
                        });
                    }
                }
            });



        // Initial call to fetch sorted player data
            sortTable(currentSortColumn);

        // Add event listener to checkboxes
            const checkboxes = document.querySelectorAll('#checkboxForm input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                // Trigger the sortTable function with the current sort column and order
                    fetchData(currentSortColumn, currentSortOrder);
                });
            });
        }); // End of DOMContentLoaded


    // Function to get the selected positions based on checkboxes
        function getSelectedPositions() {
            const selectedPositions = [];
            document.querySelectorAll('#checkboxForm input[type="checkbox"]:checked').forEach(checkbox => {
                selectedPositions.push(checkbox.value);
            });
            return selectedPositions.join(',');
        }


    // When clicking on table col headers
        function sortTable(sortBy) {
        // Toggle the sort order
            if (currentSortColumn === sortBy) {
                currentSortOrder = currentSortOrder === 'desc' ? 'asc' : 'desc'; // Toggle between asc and desc
            } else {
                currentSortColumn = sortBy;
                currentSortOrder = 'desc'; // Default to descending for a new column
            }
            updateSortIndicator(sortBy); // Update table header for sorting indicator
            fetchData(sortBy, currentSortOrder); // Fetch the sorted data
        }


    // Sort arrow in table col headers
        function updateSortIndicator(sortBy) {
            const headers = document.querySelectorAll('th');
            headers.forEach(header => {
            // Remove the `sorted` class from all headers
                header.classList.remove('sorted');

            // Check if the header is the one being sorted
                if (header.dataset.sort === sortBy) {
                // Add the `sorted` class to the active header
                    header.classList.add('sorted');

                // Handle the sort arrow
                    let arrow = header.querySelector('span');
                    if (!arrow) {
                    // If no arrow exists, add it
                        arrow = document.createElement('span');
                        arrow.textContent = currentSortOrder === 'asc' ? '↑' : '↓';
                        header.appendChild(arrow);
                    } else {
                    // If an arrow exists, update its direction
                        arrow.textContent = currentSortOrder === 'asc' ? '↑' : '↓';
                    }
                } else {
                // Remove the arrow for non-active headers
                    const arrow = header.querySelector('span');
                    if (arrow) {
                        header.removeChild(arrow);
                    }
                }
            });
        }

    // Lookup table
        const col_definitions = (managerName) => ({
            "total_points_team": `Player points for ${managerName}`,
            "ppm_team": `Points per million playing for ${managerName}`,
            "minutes_points_team": `Points for minutes played for ${managerName}`,
            "clean_sheets_points_team": `Points for clean sheets for ${managerName}`,
            "assists_points_team": `Points for assists for ${managerName}`,
            "goals_points_team": `Points for goals scored for ${managerName}`,
            "yellow_cards_points_team": `Points deducted for yellow cards for ${managerName}`,
            "red_cards_points_team": `Points deducted for red cards for ${managerName}`,
            "bonus_points_team": `Bonus points for ${managerName}`,
            "own_goals_points_team": `Points deducted for own goals for ${managerName}`,
            "goals_conceded_points_team": `Points deducted for goals conceded for ${managerName}`,
            "save_points_team": `Points for saves for ${managerName}`,
            "penalties_saved_points_team": `Points for penalties saved for ${managerName}`,
            "penalties_missed_points_team": `Points deducted for penalties missed  for ${managerName}`,
            "benched_points_team": `Points benched for ${managerName}`,
            "captained_points_team": `Points captained for ${managerName}`,

            "total_points": `Total player points`,
            "ppm": `Points per million of player`,
            "minutes_points": `Points for minutes played`,
            "clean_sheets_points": `Points for clean sheets`,
            "assists_points": `Points for assists`,
            "goals_points": `Points for goals scored`,
            "yellow_cards_points": `Points deducted for yellow cards`,
            "red_cards_points": `Points deducted for red cards`,
            "bonus_points": `Bonus points`,
            "own_goals_points": `Own goals`,
            "goals_conceded_points": `Points deducted for goals conceded`,
            "save_points": `Points for saves`,
            "penalties_saved_points": `Points for penalties saved`,
            "penalties_missed_points": `Points deducted for penalties missed `,

            "top-players": `Pictures of the top players for this category`,
            "entries": `Number of entries for this category`,
            "team-data": `Team stats`,
            "overall-data": `Overall stats`,
        });

        const lookup = col_definitions(managerName);

    // Hover on <th>
        document.querySelectorAll("th").forEach(th => {
            th.addEventListener("mouseenter", function() {
                const sortKey = this.getAttribute("data-sort"); // Get the data-sort value
                const description = lookup[sortKey] || "No description available."; // Lookup description

                document.getElementById("current-hover").textContent = ""; // Remove current text
                document.getElementById("current-hover").textContent = description; // Replace with this
                document.getElementById("current-hover").style.backgroundColor = "#EAFF04";
            });

            th.addEventListener("mouseleave", function() {
                document.getElementById("current-hover").textContent = ""; // Remove current text
                document.getElementById("current-hover").textContent = "Click table headers to change sort"; // Replace with this
                document.getElementById("current-hover").style.backgroundColor = "white";
            });
        });


    // Fetch new data based on table column
        function fetchData(sortBy, sortOrder) {
            const teamId = {{team_id | tojson}};
            const managerName = {{manager.team_name | tojson}};

        // Get the selected positions from the checkboxes
            const selectedPositions = getSelectedPositions();

            const lookup = col_definitions(managerName); // Get the object with the correct managerName

        // Lookup the text for the current sort column
            const categoriesColText = lookup[currentSortColumn] || "Unknown category";
            const categoriesSortText = sortOrder === "desc" ? "" : "(ascending)";

        // Show loading message and  the table
            document.getElementById('loading').style.display = 'block';
            document.getElementById('player-table-body').style.display = 'none'; //  the table rows
            document.getElementById('current-sort').innerHTML = categoriesColText;
            document.getElementById('current-order').innerHTML = categoriesSortText;


        // The AJAX
        // Fetch new data for table body
            fetch(`/get-sorted-players-points?team_id=${teamId}&sort_by=${sortBy}&order=${sortOrder}&selected_positions=${selectedPositions}`)
                .then(response => response.json())
                .then(data => {
                    if (data.players) {
                        console.log("Players Length:", data.players.length);
                    } else {
                        console.error("Hello!!! Players data is undefined");
                    }

                // Dynamically update the number of entries
                    const entryCount = data.players.length;
                    const entryText = entryCount === 1 ? "1 entry" : `${entryCount} entries`;
                    document.getElementById('entries').textContent = entryText;

                // Dynamically update the text for Top Five Players
                    let topPlayersText;
                    const numberWords = {
                        2: "Two",
                        3: "Three",
                        4: "Four",
                    };

                    if (entryCount === 1) {
                        topPlayersText = "↑ Top Player";
                    } else if (entryCount < 5) {
                        const countWord = numberWords[entryCount];
                        topPlayersText = `↑ Top ${countWord} Players`;
                    } else {
                        topPlayersText = "↑ Top Five Players";
                    }

                    const topPlayersEl = document.getElementById('top-players').textContent = topPlayersText;

                // Dynamically update the table with the new player data
                    const tableBody = document.getElementById('player-table-body');
                    tableBody.innerHTML = ''; // Clear the existing rows

                    data.players.forEach((player, index) => {
                        const row = document.createElement('tr');
                        row.classList.add(`vert-border`, `text-center`, `align-middle`, `team-${player.team_code}`, `element-type-${player.element_type}`);

                // Truncate web_name to 11 characters
                    const truncatedWebName = player.web_name.length > 11 ? player.web_name.slice(0, 11) + '...' : player.web_name;

                        row.innerHTML = `
                    <td>${index + 1}</td>
                    <td>${player.team_name}</td>
                    <td class="text-start">${truncatedWebName}</td>

                    <td data-column="points" data-sort="primary" class='green-text'>${player.total_points_team}</td>
                    <td data-column="ppm" data-sort="primary" class=''>${player.ppm_team}</td>
                    <td data-column="minutes" data-sort="primary" class=' d-sm-table-cell green-text'>${player.minutes_points_team}</td>
                    <td data-column="cs" data-sort="primary" class=' d-sm-table-cell green-text'>${player.clean_sheets_points_team}</td>
                    <td data-column="assists" data-sort="primary" class='green-text'>${player.assists_points_team}</td>
                    <td data-column="goals" data-sort="primary" class='green-text'>${player.goals_points_team}</td>
                    <td data-column="bonus" data-sort="primary" class='green-text'>${player.bonus_points_team}</td>
                    <td data-column="saves" data-sort="primary" class=' d-md-table-cell green-text'>${player.save_points_team}</td>
                    <td data-column="ps" data-sort="primary" class=' d-xl-table-cell green-text'>${player.penalties_saved_points_team}</td>
                    <td data-column="gc" data-sort="primary" class=' d-xl-table-cell red-text vert-border'>${player.goals_conceded_points_team}</td>
                    <td data-column="yc" data-sort="primary" class=' d-xl-table-cell red-text'>${player.yellow_cards_points_team}</td>
                    <td data-column="rc" data-sort="primary" class=' d-xl-table-cell red-text'>${player.red_cards_points_team}</td>
                    <td data-column="og" data-sort="primary" class=' d-xl-table-cell red-text'>${player.own_goals_points_team}</td>
                    <td data-column="pm" data-sort="primary" class=' d-xl-table-cell red-text'>${player.penalties_missed_points_team}</td>
                    <td data-column="bp" data-sort="primary" class='vert-border'>${player.benched_points_team}</td>
                    <td data-column="cp" data-sort="primary" class='vert-border vert-border-end'>${player.captained_points_team}</td>


                    <td data-column="points" data-sort="secondary" class=' d-xxl-table-cell green-text'>${player.total_points}</td>
                    <td data-column="ppm" data-sort="secondary" class=' d-xxl-table-cell'>${player.ppm}</td>
                    <td data-column="minutes" data-sort="secondary" class=' d-xxl-table-cell green-text'>${player.minutes_points}</td>
                    <td data-column="cs" data-sort="secondary" class=' d-xxl-table-cell green-text'>${player.clean_sheets_points}</td>
                    <td data-column="assists" data-sort="secondary" class=' d-xxl-table-cell green-text'>${player.assists_points}</td>
                    <td data-column="goals" data-sort="secondary" class=' d-xxl-table-cell green-text'>${player.goals_points}</td>
                    <td data-column="bonus" data-sort="secondary" class=' d-xxl-table-cell green-text'>${player.bonus_points}</td>
                    <td data-column="saves" data-sort="secondary" class=' d-xxl-table-cell green-text'>${player.save_points}</td>
                    <td data-column="ps" data-sort="secondary" class=' d-xxl-table-cell green-text'>${player.penalties_saved_points}</td>
                    <td data-column="gc" data-sort="secondary" class=' d-xxl-table-cell red-text vert-border'>${player.goals_conceded_points}</td>
                    <td data-column="yc" data-sort="secondary" class=' d-xxl-table-cell red-text'>${player.yellow_cards_points}</td>
                    <td data-column="rc" data-sort="secondary" class=' d-xxl-table-cell red-text'>${player.red_cards_points}</td>
                    <td data-column="og" data-sort="secondary" class=' d-xxl-table-cell red-text'>${player.own_goals_points}</td>
                    <td data-column="pm" data-sort="secondary" class=' d-xxl-table-cell red-text vert-border-end'>${player.penalties_missed_points}</td>
            `;
                        tableBody.appendChild(row);
                    });

                // Check if skeleton has already been removed (use a flag to track it)
                    let skeletonRemoved = false;

                // Update the player images
                    const imagesContainer = document.getElementById('player-images');
                    const skeletonContainer = imagesContainer.querySelector('.skeleton-loader-container'); // Find the skeleton container

                // Clear the existing images for sorting
                    imagesContainer.innerHTML = '';

                // Track the number of images loaded
                    let imagesLoaded = 0;
                    const totalImages = data.players_images.length; // Number of images to load

                    data.players_images.forEach((playerImage, index) => {
                        const imageDiv = document.createElement('div');
                        imageDiv.className = `player-image-${index + 1}`; // Add a class based on the index

                    // Create the img element
                        const img = document.createElement('img');
                        img.classList.add('img-fluid');
                        img.src = `https://resources.premierleague.com/premierleague/photos/players/110x140/p${playerImage.photo}`;
                        img.setAttribute('loading', 'lazy'); // Lazy load the image
                        img.setAttribute('alt', 'Player Photo'); // Set alt text

                    // Wait for the image to load
                        img.onload = function() {
                            imagesLoaded++;

                        // Remove the skeleton loader if all images are loaded, only on first load
                            if (imagesLoaded === totalImages && !skeletonRemoved) {
                                if (skeletonContainer) {
                                    skeletonContainer.remove();
                                }
                                skeletonRemoved = true; // Ensure skeleton is removed only once
                            }
                        };

                    // Append the image to the div
                        imageDiv.appendChild(img);

                    // Append the whole player image div to the container
                        imagesContainer.appendChild(imageDiv);
                    });



                // Hide loading message and show table and images
                    document.getElementById('loading').style.display = 'none';
                    document.getElementById('player-table-body').style.display = 'table-row-group'; // Show the table rows again
                //document.getElementById('player-images').style.display = 'flex'; // Show images
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    document.getElementById('loading').textContent = 'Error loading data...';
                });
        }
    </script>

{% endblock %}
