{% extends "info_club.html" %}
{% set hide_element = True %}

{% block title %}Teams{% endblock %}

{% block page_content %}
        <!-- PLAYER TABLE -->
            <div class="table-responsive">
                <table id="starts-table" class="table table-borderless table-striped custom-striped text-nowrap">
                    <thead class="th-purple">
                        <tr class="text-center">
                            <th id="top-players" data-sort="top-players" class="sticky-col align-middle round-border-top" colspan="1" rowspan="1">Top Five</th>
                            <th colspan="18" class="bg-team round-border-top" data-sort="team-data" title="Players that are or have been in {{ manager.team_name }} this season">Stats for {{ manager.team_name }}</th>
                            <th colspan="13" class="round-border-top  d-xxl-table-cell" data-sort="overall-data">Player Totals</th>
                        </tr>

                        <tr class="text-center">
                            <th id="entries" colspan="1" data-sort="entries" class="sticky-col"></th>
                            <th id="starts_team" data-sort="starts_team" onclick="sortTable('starts_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'starts_team' %}sorted{% endif %}">
                                S
                            </th>
                            <th id="minutes_team" data-sort="minutes_team" onclick="sortTable('minutes_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'minutes_team' %}sorted{% endif %}">
                                M
                            </th>
                            <th id="clean_sheets_team" data-sort="clean_sheets_team" onclick="sortTable('clean_sheets_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'clean_sheets_team' %}sorted{% endif %}">
                                CS
                            </th>
                            <th id="assists_team" data-sort="assists_team" onclick="sortTable('assists_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'assists_team' %}sorted{% endif %}">
                                A
                            </th>
                            <th id="expected_assists_team" data-sort="expected_assists_team" onclick="sortTable('expected_assists_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'expected_assists_team' %}sorted{% endif %}">
                                xA
                            </th>
                            <th id="goals_scored_team" data-sort="goals_scored_team" onclick="sortTable('goals_scored_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'goals_scored_team' %}sorted{% endif %}">
                                G
                            </th>
                            <th id="expected_goals_team" data-sort="expected_goals_team" onclick="sortTable('expected_goals_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'expected_goals_team' %}sorted{% endif %}">
                                xG
                            </th>
                            <th id="captained_team" data-sort="captained_team" onclick="sortTable('captained_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'captained_team' %}sorted{% endif %}">
                                C
                            </th>
                            <th id="dreamteam_count_team" data-sort="dreamteam_count_team" onclick="sortTable('dreamteam_count_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'dreamteam_count_team' %}sorted{% endif %}">
                                DT
                            </th>
                            <th id="bps_team" data-sort="bps_team" onclick="sortTable('bps_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'bps_team' %}sorted{% endif %}">
                                BPS
                            </th>
                            <th id="penalties_saved_team" data-sort="penalties_saved_team" onclick="sortTable('penalties_saved_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'penalties_saved_team' %}sorted{% endif %}">
                                PS
                            </th>
                            <th id="starts_benched_team" data-sort="starts_benched_team" onclick="sortTable('starts_benched_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'starts_benched_team' %}sorted{% endif %}">
                                St
                            </th>
                            <th id="minutes_benched_team" data-sort="minutes_benched_team" onclick="sortTable('minutes_benched_team')" class="sort-team bg-team {% if request.args.get('sort_by') == 'minutes_benched_team' %}sorted{% endif %}">
                                M
                            </th>
                            <th id="yellow_cards_team" data-sort="yellow_cards_team" onclick="sortTable('yellow_cards_team')" class=" d-xl-table-cell sort-team bg-team {% if request.args.get('sort_by') == 'yellow_cards_team' %}sorted{% endif %}">
                                YC
                            </th>
                            <th id="red_cards_team" data-sort="red_cards_team" onclick="sortTable('red_cards_team')" class=" d-xl-table-cell sort-team bg-team {% if request.args.get('sort_by') == 'red_cards_team' %}sorted{% endif %}">
                                RC
                            </th>
                            <th id="goals_conceded_team" data-sort="goals_conceded_team" onclick="sortTable('goals_conceded_team')" class=" d-xl-table-cell sort-team bg-team {% if request.args.get('sort_by') == 'goals_conceded_team' %}sorted{% endif %}">
                                GC
                            </th>
                            <th id="own_goals_team" data-sort="own_goals_team" onclick="sortTable('own_goals_team')" class=" d-xl-table-cell sort-team bg-team {% if request.args.get('sort_by') == 'own_goals_team' %}sorted{% endif %}">
                                OG
                            </th>
                            <th id="penalties_missed_team" data-sort="penalties_missed_team" onclick="sortTable('penalties_missed_team')" class=" d-xl-table-cell sort-team bg-team {% if request.args.get('sort_by') == 'penalties_missed_team' %}sorted{% endif %}">
                                PM
                            </th>
                            <th id="clean_sheets" data-sort="clean_sheets" onclick="sortTable('clean_sheets')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'clean_sheets' %}sorted{% endif %}">
                                CS
                            </th>
                            <th id="assists" data-sort="assists" onclick="sortTable('assists')" class="sort {% if request.args.get('sort_by') == 'assists' %}sorted{% endif %}">
                                A
                            </th>
                            <th id="expected_assists" data-sort="expected_assists" onclick="sortTable('expected_assists')" class="sort {% if request.args.get('sort_by') == 'expected_assists' %}sorted{% endif %}">
                                xA
                            </th>
                            <th id="goals_scored" data-sort="goals_scored" onclick="sortTable('goals_scored')" class="sort {% if request.args.get('sort_by') == 'goals_scored' %}sorted{% endif %}">
                                G
                            </th>
                            <th id="expected_goals" data-sort="expected_goals" onclick="sortTable('expected_goals')" class="sort {% if request.args.get('sort_by') == 'expected_goals' %}sorted{% endif %}">
                                xG
                            </th>
                            <th id="dreamteam_count" data-sort="dreamteam_count" onclick="sortTable('dreamteam_count')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'dreamteam_count' %}sorted{% endif %}">
                                DT
                            </th>
                            <th id="bps" data-sort="bps" onclick="sortTable('bps')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'bps' %}sorted{% endif %}">
                                BPS
                            </th>
                            <th id="penalties_saved" data-sort="penalties_saved" onclick="sortTable('penalties_saved')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'penalties_saved' %}sorted{% endif %}">
                                PS
                            </th>
                            <th id="yellow_cards" data-sort="yellow_cards" onclick="sortTable('yellow_cards')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'yellow_cards' %}sorted{% endif %}">
                                YC
                            </th>
                            <th id="red_cards" data-sort="red_cards" onclick="sortTable('red_cards')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'red_cards' %}sorted{% endif %}">
                                RC
                            </th>
                            <th id="goals_conceded" data-sort="goals_conceded" onclick="sortTable('goals_conceded')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'goals_conceded' %}sorted{% endif %}">
                                GC
                            </th>
                            <th id="own_goals" data-sort="own_goals" onclick="sortTable('own_goals')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'own_goals' %}sorted{% endif %}">
                                OG
                            </th>
                            <th id="penalties_missed" data-sort="penalties_missed" onclick="sortTable('penalties_missed')" class="sort  d-xxl-table-cell {% if request.args.get('sort_by') == 'penalties_missed' %}sorted{% endif %}">
                                PM
                            </th>
                        </tr>
                    </thead>
                    <tbody id="player-table-body">
                    <!-- Player rows will be inserted here dynamically by JavaScript -->
                    </tbody>
                    <tfoot>
                        <tr class="th-purple text-center">
                            <th id="top-players" class="sticky-col round-border-btm" colspan="1" style="color: var(--purple);">.</th>
                            <th colspan="18" class="bg-team round-border-btm align-middle">
                                <div id="loading" style="display: none;">Loading...</div>
                            </th>
                            <th colspan="13" class="round-border-btm"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div> <!-- Close the row div here -->
        <div class="row">
        </div>
    </div> <!-- Close the container div here -->

    <!-- Include the external script BEFORE the inline script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        // Set global variables from your template.
        window.currentSortColumn = {{ sort_by | tojson }};
        window.currentSortOrder = {{ order | tojson }};
        const managerName = {{ manager.team_name | tojson }};
        
        // Page-specific column definitions.
        const col_definitions = (managerName) => ({
            "starts_team": `Starts for ${managerName}`,
            "minutes_team": `Minutes played for ${managerName}`,
            "clean_sheets_team": `Clean sheets for ${managerName}`,
            "assists_team": `Assists for ${managerName}`,
            "expected_assists_team": `Expected assists for ${managerName}`,
            "goals_scored_team": `Goals scored  for ${managerName}`,
            "expected_goals_team": `Expected goals  for ${managerName}`,
            "captained_team": `Times captained for ${managerName}`,
            "yellow_cards_team": `Yellow cards for ${managerName}`,
            "red_cards_team": `Red cards for ${managerName}`,
            "dreamteam_count_team": `Times in dreamteam playing for ${managerName}`,
            "bps_team": `Underlying bonus points system points for ${managerName}`,
            "starts_benched_team": `Benched starts for ${managerName}`,
            "minutes_benched_team": `Benched minutes for ${managerName}`,
            "own_goals_team": `Own goals scored for ${managerName}`,
            "goals_conceded_team": `Goals conceded for ${managerName}`,
            "penalties_saved_team": `Penalties saved for ${managerName}`,
            "penalties_missed_team": `Penalties misssed for ${managerName}`,

            "clean_sheets": `Total clean sheets`,
            "assists": `Total assists`,
            "expected_assists": `Total expected assists`,
            "goals_scored": `Total goals scored`,
            "expected_goals": `Total expected goals`,
            "yellow_cards": `Total yellow cards`,
            "red_cards": `Total red cards`,
            "dreamteam_count": `Total times in dreamteam`,
            "bps": `Total value in the underlying Bonus Points System`,
            "own_goals": `Total own goals scored`,
            "goals_conceded": `Total goals conceded`,
            "penalties_saved": `Total penalties saved`,
            "penalties_missed": `Total penalties missed`,
            "top-players": `Pictures of the top players for this category`,
            "entries": `Number of entries for this category`,
            "team-data": `Team stats`,
            "overall-data": `Overall stats`,
        });

        const full_team_name = {
            "ARS": "Arsenal",
            "AVL": "Aston Villa",
            "BRE": "Brentford",
            "BHA": "Brighton",
            "BOU": "Bournmouth",
            "CHE": "Chelsea",
            "CRY": "Crystal Palace",
            "EVE": "Everton",
            "FUL": "Fulham",
            "IPS": "Ipswich",
            "NFO": "Nott'm Forest",
            "LIV": "Liverpool",
            "MCI": "Man City",
            "MUN": "Man Utd",
            "NEW": "Newcastle",
            "SOU": "Southampton",
            "TOT": "Tottenham",
            "WOL": "Wolves",
        }
        
        // Make lookup globally available.
        window.lookup = col_definitions(managerName);
        
        // Make fetchData global so that script.js can call it.
        window.fetchData = function(sortBy, sortOrder) {
            const teamId = {{ team_id | tojson }};
            const { minCost, maxCost } = getSelectedPriceRange();
            const selectedPositions = getSelectedPositions();
            const lookup = col_definitions(managerName);
            const categoriesColText = lookup[window.currentSortColumn] || "Unknown category";
            const categoriesSortText = sortOrder === "desc" ? "" : "(ascending)";
            
            // Show loading indicators.
            document.getElementById('loading').style.display = 'block';
            document.getElementById('player-table-body').style.display = 'none';
            document.getElementById('current-sort').innerHTML = categoriesColText;
            document.getElementById('current-order').innerHTML = categoriesSortText;
            
            // The AJAX call.
            fetch(`/get-sorted-players-teams?team_id=${teamId}&sort_by=${sortBy}&order=${sortOrder}`)
            .then(response => response.json())
            .then(data => {
                // Update entry count.
                const players = data.players || [];
                const entryCount = players.length;
                document.getElementById('entries').textContent =
                entryCount === 1 ? "1 entry" : `${entryCount} entries`;
                
                window.updateTopPlayersText(entryCount); // Update top players text.
                
                // Update table rows.
                const tableBody = document.getElementById('player-table-body');
                tableBody.innerHTML = ''; // Clear existing rows.
                data.players.forEach((player, index) => {
                const row = document.createElement('tr');
                row.classList.add(
                    'vert-border',
                    'text-center',
                    'align-middle',
                    `team-${player.team_code}`,
                    `badge-${player.team_code}`,
                );
                row.innerHTML = `
                    <td class="sticky-col vert-border-end ">
                        <div class="d-flex">
                            <div class="" style="width: 3ch;">${index + 1}</div>
                            <div>${ full_team_name[player.team_name] || player.team_name } </div>
                        </div>
                    </td>
                    <td data-column="starts" data-sort="primary" class="">${player.starts_team}</td>
                    <td data-column="minutes" data-sort="primary">${player.minutes_team}</td>
                    <td data-column="CS" data-sort="primary">${player.clean_sheets_team}</td>
                    <td data-column="assists_team" data-sort="primary">${player.assists_team}</td>
                    <td data-column="expected_assists_team" data-sort="primary">${(Math.round(player.expected_assists_team * 10) / 10).toFixed(1)}</td>
                    <td data-column="goals_scored_team" data-sort="primary">${player.goals_scored_team}</td>
                    <td data-column="expected_goals_team" data-sort="primary">${(Math.round(player.expected_goals_team * 10) / 10).toFixed(1)}</td>
                    <td data-column="captain" data-sort="primary">${player.captained_team}</td>
                    <td data-column="DT" data-sort="primary">${player.dreamteam_count_team}</td>
                    <td data-column="BPS" data-sort="primary">${player.bps_team}</td>

                    <td>sB</td>
                    <td>mB</td>

                    <td data-column="PS" data-sort="primary" class="">${player.penalties_saved_team}</td>
                    <td data-column="YC" data-sort="primary" class="red-text">${player.yellow_cards_team}</td>
                    <td data-column="RC" data-sort="primary" class="red-text">${player.red_cards_team}</td>
                    <td data-column="GC" data-sort="primary" class="red-text">${player.goals_conceded_team}</td>
                    <td data-column="OG" data-sort="primary" class="red-text">${player.own_goals_team}</td>
                    <td data-column="PM" data-sort="primary" class="red-text vert-border-end">${player.penalties_missed_team}</td>

                    <td data-column="CS" data-sort="secondary">${player.clean_sheets}</td>
                    <td data-column="assists" data-sort="secondary">${player.assists}</td>
                    <td data-column="expected_assists_team" data-sort="secondary">${(Math.round(player.expected_assists * 10) / 10).toFixed(1)}</td>
                    <td data-column="goals_scored_team" data-sort="secondary">${player.goals_scored}</td>
                    <td data-column="expected_goals_team" data-sort="secondary">${(Math.round(player.expected_goals * 10) / 10).toFixed(1)}</td>
                    <td data-column="DT" data-sort="secondary">${player.dreamteam_count}</td>
                    <td data-column="BPS" data-sort="secondary">${player.bps}</td>
                    <td data-column="PS" data-sort="secondary">${player.penalties_saved}</td>
                    <td data-column="YC" data-sort="secondary" class="red-text vert-border">${player.yellow_cards}</td>
                    <td data-column="RC" data-sort="secondary" class="red-text">${player.red_cards}</td>
                    <td data-column="GC" data-sort="secondary" class="red-text">${player.goals_conceded}*</td>
                    <td data-column="OG" data-sort="secondary" class="red-text">${player.own_goals}</td>
                    <td data-column="PM" data-sort="secondary" class="red-text vert-border-end">${player.penalties_missed}</td>
                `;
                tableBody.appendChild(row);
                });
                
                // Once the table rows are added, hide the loading indicator and show the table.
                document.getElementById('loading').style.display = 'none';
                document.getElementById('player-table-body').style.display = '';
                // console.log(data)
                window.updateBadges(data);
            })
            .catch(error => console.error('Error fetching player images:', error));
        };
        
        const { minCost, maxCost } = getSelectedPriceRange();

        
        // Now call sortTable (which is defined in script.js).
        sortTable(window.currentSortColumn);
        });
    </script>


{% endblock %}
